* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

.header {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 16px 24px ;
    position: sticky;
    background-color: #1F2937;
    top: 0;
    color: aliceblue;
    font-size: 1.2em;
    flex-wrap: wrap;
    gap: 8px;
    



}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
    gap: 16px;
    

}



.logo {
    height: 40px;
}

.containerright {
    display: flex;
    align-items: center;
    padding:  0 8px;
    gap: 16px;
    width: 160px;
    flex: 1 1 auto;
    
}

.layer1 {
    background-color: #1F2937;
    color: aliceblue;
    font-size: 1.2em;
    
}
.content{
    display: flex;
    align-items: center;
    padding: 90px 0rem 5rem;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.content img {
    width: 30%;
    height: auto;
    min-width: 300px;
}

.information {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 16px;
    min-width: 300px;
}   

.button {
    width:100px;
    background-color:  #3882f6;;
    padding: 10px  ;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    
}

.button:hover {
    cursor: pointer;
    background: #3163b3;
}

.layer2 {
    text-align: center;
    color: #1F2937;
    padding: 90px 0;  

    
}

.item {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    min-width: 300px;
    flex: 1;
    
    
}

.content2, .content3 {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 0px 90px ;
    
}

.item h2 {
    margin-bottom: 20px;
}

.layer2 .item img {
    
    width: 40%;
    height: 230px;   
}

a{
    text-decoration: none;
    color: aliceblue;
}
a:hover {
    color: gray;
}

.layer3 {
    background-color: #e5e7eb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
    gap: 4rem;
    text-align: center;
}
.person {
    display: flex;
    margin-top: 18px;
    gap: 8px;
    width: 100%;
    text-align: left;
    
}

.person img{
 
 width: 60px;
 height: 60px;
 border-radius: 50%;
}

.testimony{
    font-style: italic;
    text-align: left;
}

.titlebody {
     font-size: 36px;
     font-weight: 900;
     margin-bottom: 4rem;
     padding: 0 8px;
}

.layer3 .item {
    justify-content: space-between;
}

.layer4 {
    padding: 90px 0;
    text-align: center;
}

.container4 {
    display: flex;
    background-color: #76a4ee;
    justify-content: space-evenly;
    min-width: 224px;
    padding: 32px ;
    width: 50%;
    border-radius: 10px;
    margin: auto;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.text {
    line-height: 1.5;
    min-width: 200px;
}

.bottom {
    background-color: #1F2937;
    text-align: center;
    padding: 28px 0;
    color: lightgray;
    font-size: 1.2em;
}